<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <form th:action="@{/auth/login}" th:method="post">
        <div>
            <label>ID : </label>
            <input type="text" name="userId" id="userId">
        </div>
        <div>
            <label>PWD : </label>
            <input type="password" name="userPwd" id="userPwd">
        </div>
        <div>
            <a th:href="@{/}">
                <button type="submit">logIn</button></a>

        </div>
    </form>

    <div>
        <a th:href="@{/user/register}">
            <button type="submit">회원가입</button></a>

    </div>

    <div>

    </div>

</body>
</html>