<!DOCTYPE html>
<html lang=xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="img-box">
    <!-- 하트 누르면 내 수강목록으로 이동하게  -->
    <a href=""><img src="/image/heart.png" alt=""></a>
</div>
<div class="text-box">
    <form action="course/search" actiom="" method="get">
        <label for="❣">
            <input class="search-txt" type="text" placeholder="#3/ 두근두근 게임 소프트웨어 만들기" onfocus="this.placeholder=''" onblur="this.placeholder='#3/ 두근두근 게임 소프트웨어 만들기'" name="search">
        </label>
        <button class="search-btn" type="submit">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        </button>
    </form>
</div>
<div>
    <h1>뜨개질 고수로 한걸음</h1>
    <ul>
        <li>개강일자 : 2024.05.09</li>
        <li>종강일자 : 2024.12.16</li>
    </ul>
    <button class="class-apply" type="submit">수강신청
        <a href=""></a>
    </button>
    <button class="class-cancel" type="submit">수강철회
        <a href=""></a>
    </button>
</div>
<div>
    <h1>핸드 드립 브루잉</h1>
    <ul>
        <li>개강일자 : 2024.05.09</li>
        <li>종강일자 : 2024.12.16</li>
    </ul>
    <button class="class-apply" type="submit">수강신청
        <a href=""></a>
    </button>
    <button class="class-cancel" type="submit">수강철회
        <a href=""></a>
    </button>
</div>
<div>
    <h1>두근두근 게임 소프트웨어 만들기</h1>
    <ul>
        <li>개강일자 : 2024.05.09</li>
        <li>종강일자 : 2024.12.16</li>
    </ul>
    <button class="class-apply" type="submit">수강신청
        <a href=""></a>
    </button>
    <button class="class-cancel" type="submit">수강철회
        <a href=""></a>
    </button>
</div>
<div>
    <h1>간편 시•노래 창작</h1>
    <ul>
        <li>개강일자 : 2024.05.09</li>
        <li>종강일자 : 2024.12.16</li>
    </ul>
    <button class="class-apply" type="submit">수강신청
        <a href=""></a>
    </button>
    <button class="class-cancel" type="submit">수강철회
        <a href=""></a>
    </button>
</div>
<div>
    <h1>상상력 자극 가상체험</h1>
    <ul>
        <li>개강일자 : 2024.05.09</li>
        <li>종강일자 : 2024.12.16</li>
    </ul>
    <button class="class-apply" type="submit">수강신청
        <a href=""></a>
    </button>
    <button class="class-cancel" type="submit">수강철회
        <a href=""></a>
    </button>
</div>
</body>
</html>