<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
<!-- 로그인 화면으로 이동 -> (여기에 하트 이미지 반영 예정!) -->
    <button>
        <a th:href="@{/auth/login}">Login</a>
    </button>

    <div>
        <h1>인증된 사용자만 보이는 태그 -> 여기에 딸기모양 이미지 들어갈것!</h1>
    </div>

    <div>
        <form th:action="@{/auth/logout}" method="post">
            <input type="submit" value="로그아웃">
        </form>
    </div>

</body>
</html>